{% extends 'layout.html' %}

{% block content %}
<div class="columns is-multiline">
	<div class="column is-4 is-offset-2">
		<div class="card">
		  <div class="card-content">
		    <div class="media">
		      <div class="media-left">
		        <figure class="image is-48x48">
		          <img src="/static/ressources/lisandre.jpg" alt="Placeholder image">
		        </figure>
		      </div>
		      <div class="media-content">
		        <p class="title is-4">Lisandre Begon</p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="column is-4">
		<div class="card">
		  <div class="card-content">
		    <div class="media">
		      <div class="media-left">
		        <figure class="image is-48x48">
		          <img src="/static/ressources/mathilde.jpg" alt="Placeholder image">
		        </figure>
		      </div>
		      <div class="media-content">
		        <p class="title is-4">Mathilde Ducasse</p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="column is-4 is-offset-2">
		<div class="card">
		  <div class="card-content">
		    <div class="media">
		      <div class="media-left">
		        <figure class="image is-48x48">
		          <img src="/static/ressources/clara.jpg" alt="Placeholder image">
		        </figure>
		      </div>
		      <div class="media-content">
		        <p class="title is-4">Clara Lepercq</p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="column is-4">
		<div class="card">
		  <div class="card-content">
		    <div class="media">
		      <div class="media-left">
		        <figure class="image is-48x48">
		          <img src="/static/ressources/alex.jpg" alt="Placeholder image">
		        </figure>
		      </div>
		      <div class="media-content">
		        <p class="title is-4">Alexandre Roussel</p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="column is-4 is-offset-4">
		<div class="card">
		  <div class="card-content">
		    <div class="media">
		      <div class="media-left">
		        <figure class="image is-48x48">
		          <img src="/static/ressources/leo.jpg" alt="Placeholder image">
		        </figure>
		      </div>
		      <div class="media-content">
		        <p class="title is-4">Léo Sauvage</p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
<video id="background-video" autoplay loop muted>
	<source src="/static/ressources/teambackground.mp4" type="video/mp4">	
</video>  
{% endblock %}