{% extends 'layout.html' %}

{% block content %}

<div class="columns">
  <div class="column is-6">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <iframe src="/static/ressources/FRISE%20CHRONOLOGIQUE%20DES%20JUMEAUX%20NUMÉRIQUE.pdf" width="100%" height="1000px"></iframe>
      </div>
    </div>
  </div>
  <div class="column is-6">
    <div class="columns">
      <div class="column is-11">
        <div class="box">
          <h1 class="title is-1">Le Groupe controversé</h1>
          <p class="center-text">
            L'avènement rapide des technologies numériques a considérablement transformé notre manière d'appréhender le monde qui nous entoure. Au cœur de cette révolution technologique émergent des concepts novateurs, tels que le jumeau numérique, qui soulèvent à la fois fascination et interrogations au sein de la société en général.</p>
        </div>
        <div class="box">
          <img src="/static/ressources/teteia.png">
        </div>
        <div class="box">
          <p>
            Notre groupe de recherche, composé de cinq esprits curieux et engagés, se penche sur les implications, les avantages, les défis et les inquiétudes liés à cette notion de jumeau numérique. Son émergence n'est pas exempte de débats et de controverses quant à la confidentialité des données, la sécurité et les implications éthiques qui en découlent.

            Au cours de ce travail de recherche, nous explorerons les multiples facettes du jumeau numérique, en examinant les perspectives variées émanant de la communauté scientifique et des professionnels de l'industrie. Notre objectif est de fournir une vision équilibrée et informée, étayée par des recherches approfondies, afin de contribuer à l'éclaircissement de ces débats cruciaux.

            Nous vous invitons à vous joindre à nous dans cette aventure intellectuelle où la technologie, la société et l'éthique convergent.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<video id="background-video" autoplay loop muted>
  <source src="/static/ressources/videobackground.mp4" type="video/mp4">	
</video>
{% endblock %}