{% extends 'layout.html' %}

{% block content %}
<div class="columns is-multiline">
	<div class="column is-8 is-offset-2">
		<div class="box">
			<h1 class="title is-1">Les jumeaux numériques dans le médical</h1>
			<p>
				<b>Le jumeau numérique est un outil formidable pour la recherche médicale.</b>
				<br>
				<b>Dassault System assure que c’est grâce à cette technologie que le vaccin contre le covid a pu être trouvé aussi rapidement.</b>
				<br><br>
				« Dassault Systèmes a été dans 70 % des développements de nouveaux vaccins Covid. <b>Pourquoi ?</b> Parce que, en faisant le jumeau virtuel de la molécule du virus, vous pouvez lui lancer, dans le monde virtuel, toutes les molécules que vous connaissez pour accélérer la création de nouveaux médicaments » <a href="https://siecledigital.fr/2023/04/06/jumeaux-numeriques-tout-comprendre-sur-cette-revolution/">[1]</a> L’objectif de l’entreprise est de simuler un corps humain complet grâce à un jumeau numérique.  
				<br><br>
				<i>“Ce serait une révolution dans le monde de la médecine”</i> assure <b>Baptiste Pierrat</b> ingénieur de l’école des Mines de Saint-Etienne, <i>“Le chirurgien travaille quasiment à l’aveugle lors de cette opération, explique-t-il. Il injecte ponctuellement des produits de contraste pour voir les veines sur la radio, mais ce produit est toxique pour les reins et disparaît rapidement. Avoir une visualisation en temps réel en 3D des vaisseaux et des équipements serait une petite révolution dans la chirurgie cardiaque, qui bataille toujours avec une visualisation 2D pour poser un stent.”</i>
				<br><br>
				<b>Les ingénieurs de cette école ont d’ailleurs réalisé la prouesse d’imprimer un poumon en 3D grâce à une simulation numérique <a href="https://imtech.imt.fr/2019/11/06/aerosoltherapie-un-modele-de-poumons-ex-vivo/">[2]</a>.</b>
				<br><br>
				Simuler des organes n’est d’ailleurs pas la seule utilisation du jumeau dans le monde hospitalier. Gérer les urgences, les services de soins intensifs sont des missions pour lesquelles le jumeau numériques a été mandaté. Ces services, toujours surchargés pourraient, en effet, être optimisés grâce à cette nouvelle technologie.
				<br><br>
				Se pose maintenant la question de la gestion des données. Les hôpitaux et autres services de santé possèdent des bases de données riches en informations ultra confidentielles. Les jumeaux numériques tirent leur utilité de l’exploitation de ces données. Ils devinent alors une cible facile pour des hackers expérimentés. Nous avons donc interrogé <b>Bénédicte BOYER-BEVIERE</b>, Maître de conférences HDR Docteur en Droit privé et sciences criminelles, afin de connaitre son opinion sur le sujet.  
				<br><br>
				<i>“Si des pirates parvenaient à obtenir de telles données, ils pourraient les vendre très cher; cela pourrait constituer une menace très importante pour la personne. Si le jumeau numérique venait à se déployer, des précautions très élevées devaient être mises en place.”</i>
				<br><br>
				Dans le futur, il paraîtra donc essentiel de légiférer sur l’utilisation du jumeau numérique. Néanmoins, comme <b>Bénédicte BOYER BEVIERE</b> s’accorde à dire <i>“Il conviendra de faire extrêmement attention puisqu'il s'agira de données extrêmement personnelles, ce qui pourrait constituer un vrai danger en cas de fuite des données, de cybercriminalité.”</i>
				<br><br>
				Les patients devront donc être informés des risques encourus et les médecins <i>“formés en conséquence, pas seulement d'un point de vue médical, mais aussi en matière de protection des données, ainsi que son fonctionnement, ses opportunités, ses risques ect, pour être en mesure d'informer dans les meilleures conditions les patients.”</i>
				<br><br>
				<b>Toutefois, malgré ces risques, elle partage l’idée que le jumeau numérique représente une formidable prouesse technologique qui sera sans doute la clé de découvertes majeures dans le domaine de la santé même s'il faudra prendre garde aux éventuelles erreurs lors du recueillement des données.</b>  
				<br><br>
				[1] <a href="https://siecledigital.fr/2023/04/06/jumeaux-numeriques-tout-comprendre-sur-cette-revolution/">réponse de Florence Verzelen Directrice Générale adjointe en charge des Industries, du Marketing et du Développement Durable de Dassault Systèmes lors d’une interview accordée aux magazine Siècle Digital https://siecledigital.fr/2023/04/06/jumeaux-numeriques-tout-comprendre-sur-cette-revolution/</a>
				<br>
				[2] <a href="https://imtech.imt.fr/2019/11/06/aerosoltherapie-un-modele-de-poumons-ex-vivo/">https://imtech.imt.fr/2019/11/06/aerosoltherapie-un-modele-de-poumons-ex-vivo/</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}