{% extends 'layout.html' %}

{% block content %}
<div class="columns is-multiline">
	<div class="column is-8 is-offset-2">
		<div class="box">
			<h1 class="title is-1">Mentions légales</h1>
			<p>
				« Le site web suivant est un exercice réalisé par des élèves de 3ème
				année de l’école Polytech Montpellier dans le cadre du cours
				d’introduction au système d’information du département IG. Ces
				sites sont le résultat de travail d’étudiants et sont mis en ligne
				pour des raisons pédagogiques et didactiques; une fois en ligne, ils
				ne sont plus mis à jour. Vos réactions et commentaires sont très
				bienvenus. Pour signaler une erreur, réagir à un contenu ou
				demander une modification, merci d’écrire aux élèves et à la
				responsable de l’enseignement
				(isabelle.bourdon{at]umontpellier.fr). Polytech Montpellier décline
				toute responsabilité pour les erreurs et les imprécisions que
				peuvent contenir ces sites »
			</p>
		</div>
	</div>
</div>
{% endblock %}