{% extends 'layout.html' %}

{% block content %}
<div class="columns is-multiline">
	<div class="column is-8 is-offset-2">
		<div class="box">
			<h1 class="title is-1">Les jumeaux numériques dans le militaire</h1>
			<p>
				L’armée utilise depuis quelques années la “réalité étendue”.
				<br><br>
				<i>“La réalité étendue consiste en l’ajout au réel d’éléments virtuels, visibles grâce à un autre appareil ou par le biais d’un écran.”</i> <a href="https://www.terre.defense.gouv.fr/sites/default/files/cdec/20220309_NP_CDEC_PEP_realite-etendue.pdf">[1]</a>
				<br><br>
				Cet outil permet aux soldats de s’entrainer et d’être plus performants sur le terrain
				<br><br>
				<i>“Ainsi, au lieu d’opérer directement dans la réalité, l’usager manipule, teste et explore sa copie.”</i> explique <b>Maëlys Naslin</b> dans son rapport pour l’armée de terre. Elle précise d’ailleurs que <i>“ la notion de jumeau numérique est comprise dans celle de réalité étendue”</i>. Cependant, leur utilisation est encore assez restreinte pourtant <i>“pouvoir visualiser l’environnement grâce à un jumeau numérique et y mettre en place des tactiques, tout en limitant l’exposition des forces, revêt un intérêt majeur pour les armées.”</i> 
				<br><br>
				Le jumeau numérique présente des avantages certains pour l’armée, l’Australie en a déjà fait l’expérience avec son <i>“jumeau numérique spatial”</i> pour <i>“améliorer le renseignement géospatial”</i>.
				<br>
				La France utilise principalement le jumeau numérique pour améliorer son matériel de combat. <i>“Les avionneurs et les motoristes utilisent par exemple la technologie du jumeau numérique pour modéliser les besoins en maintenance de leurs produits.”</i>
				<br><br>
				Sur le papier s’est donc un outils fantastique pour améliorer la défense nationale : optimiser les performances physiques et stratégiques des soldats et des engins. Cependant cette technologie amène à se poser des questions <i>“éthiques sur la vie privée, l’intimité, la manipulation ou encore l’addiction”</i> s’inquiète Laurence Devillers dans la revue des anciens élèves de Telecom Paris <a href="https://www.telecom-paris-alumni.fr/fr/revue/article/metavers-avatars-jumeaux-numeriques-et-enjeux-ethiques/3698">[2]</a>.
				<br>
				S'entraîner encore et encore sur le même terrain jusqu’à en connaitre toutes les recoins, connaitre les moindres failles de ses adversaires et partenaires, fais perdre à la vie sa part d’imprévisible.
				<br><br>
				<b>L’homme est donc préparer au combat comme une machine et à terme, il ne sera plus capable de gérer les aléas.</b>
				<br><br>
				[1] <a href="https://www.terre.defense.gouv.fr/sites/default/files/cdec/20220309_NP_CDEC_PEP_realite-etendue.pdf">https://www.terre.defense.gouv.fr/sites/default/files/cdec/20220309_NP_CDEC_PEP_realite-etendue.pdf</a>
				<br>
				[2] <a href="https://www.telecom-paris-alumni.fr/fr/revue/article/metavers-avatars-jumeaux-numeriques-et-enjeux-ethiques/3698">https://www.telecom-paris-alumni.fr/fr/revue/article/metavers-avatars-jumeaux-numeriques-et-enjeux-ethiques/3698</a>
			</p>
		</div>
	</div>
</div>
<video id="background-video" autoplay loop muted>
	<source src="/static/ressources/militarybackground.mp4" type="video/mp4">	
</video>
{% endblock %}