{% extends 'layout.html' %}

{% block content %}
<div class="columns is-multiline">
	<div class="column is-8 is-offset-2">
		<div class="box">
			<h1 class="title is-1">Les jumeaux numériques</h1>
			<p>
				Le terme d’<b>industrie 4.0</b> est apparue suite à l’emergence de l’intelligence artificielle. C’est en 2011 que l’on entend ce terme pour la première fois lors du salon de la technologie industrielle en 2011 à Hanovre<a href="https://fr.wikipedia.org/wiki/Industrie_4.0">[1]</a>. Il fait référence à la 4e révolution industrielle.
				<br><br>
				Les robots sont les héros de la 3ème, là où les jumeaux numériques seront au coeur de la 4ème.
				<br><br>
				C’est en parcourant un article de <b>Sandra BERTEZENE</b> sur le site theconversation.com que notre interêt pour ce sujet a émergé.
				<br><br>
				“Hôpital : les “jumeaux numériques”, un nouvel outil de simulation”<a href="https://theconversation.com/hopital-les-jumeaux-numeriques-un-nouvel-outil-de-simulation-155344">[2]</a> s’intitule l’article publié le 17 novembre 2021. On y lit l’importance que sont entrain d’avoir et qu’auront les jumeaux numériques pour les médecins.
				<br><br>
				L’auteure nous informe de  plus, que le secteur médical n’est pas le seul à ce servir de ces nouveaux bijoux technologiques, l’armée les utilise déjà pour améliorer ses performances au combat.
				<br><br>
				Néanmoins, depuis que le <b>Règlement général de la protection des données</b> (RGPD) est entré en vigueur en mai 2018, la gestion des données est devenue une question centrale. C’est donc tout naturellement que cette problématique nous est apparue en plus des problèmes d’éthique que peuvent poser les jumeaux numériques.
				<br><br>
				Sur ce site, vous trouverez donc une description de ce que sont les jumeaux numériques ainsi que les deux etudes de recherches que nous avons menées.
				<br><br>
				<b>La problématique de la protection des données devient cruciale dans le milieu médical, surtout avec l'émergence des jumeaux numériques, c’est pourquoi ce sujet fait l’objet de notre première étude.  Notre deuxième travail de recherches porte sur la problématique éthique soulevée par l’introduction des jumeaux numériques dans le milieu militaire, faisant l’objet de questions cruciales sur la responsabilité et la légitimité de leur utilisation.</b>
				<br><br>
				[1] <a>https://fr.wikipedia.org/wiki/Industrie_4.0</a>
				<br>
				[2] <a>https://theconversation.com/hopital-les-jumeaux-numeriques-un-nouvel-outil-de-simulation-155344</a>
			</p>
		</div>
	</div>
	<div class="column is-8 is-offset-2">
		<div class="box">
			<h1 class="title is-2">Définition</h1>
			<p>
				<i>“Un jumeau numérique est une représentation virtuelle d’un objet ou d’un système qui couvre son cycle de vie. Il est mis à jour à partir de données en temps réel et utilise la simulation, l’apprentissage automatique et le raisonnement pour faciliter la prise de décision.”</i>
				<br>
				C’est la définition de <i>“digital twin”</i> donné par IBM mais comme le disent Nathalie JULIEN et Éric MARTIN dans leur ouvrage Le Jumeau numérique <a href="https://books.google.fr/?hl=fr&lr=&id=JozgDwAAQBAJ&oi=fnd&pg=PT2&dq=jumeaux+numériques&ots=ZIaRvt0nqW&sig=NaM2O-0NCER7s2I1b7TI9jjr4Ug&redir_esc=y#v=onepage&q=jumeaux numériques&f=false">[1]</a>
				<br>
				<i>“on dénombre plus de 50 articles de recherche proposant chacun une nouvelle définition du terme digital twin.”</i> Il n’est donc pas aisé de définir ce terme précisément mais de nombreux scientifiques s’accordent à dire qu’il s’agit d’un outil de simulation mis à jour pas des données collectées en temps réel.</i>
				<br><br>
				L’industrie fut le premier secteur à utiliser cette technologie. Mars et Rolls Royce les utilisent déjà pour optimiser leur système de production <a href="https://www.lemondeinformatique.fr/actualites/lire-le-jumeau-numerique-un-atout-pour-l-industrie-40-85262.html">[2]</a>. Les jumeaux numériques permettent aussi de faire revivre des lieux jusqu’alors oubliés. On peut dorénavant revisiter la grotte de Lascaux … mais virtuellement ! <a href="https://www.lemondeinformatique.fr/actualites/lire-edf-fait-appel-a-la-realite-virtuelle-pour-former-a-la-prevention-des-incendies-92217.html">[3]</a>
				<br><br>
				IBM prend d’ailleurs soin de différencier les jumeaux numériques en fonction de leur domaine d’application.
				<br><br>
				Les jumeaux de composants représentent des caractéristiques physiques ou des pièces. Lorsque des éléments fonctionnent ensemble, on parle de jumeaux actifs. Les jumeaux de système représentent, comme leur nom l’indique, des systèmes là où les jumeaux de processus simulent des processus.
				<br><br>
				Cette distinction permet essentiellement de determiner l’ampleur que prend l’utilisation du jumeau numérique.
				<br><br>
				[1] <a href="https://books.google.fr/?hl=fr&lr=&id=JozgDwAAQBAJ&oi=fnd&pg=PT2&dq=jumeaux+numériques&ots=ZIaRvt0nqW&sig=NaM2O-0NCER7s2I1b7TI9jjr4Ug&redir_esc=y#v=onepage&q=jumeaux numériques&f=false">https://books.google.fr/?hl=fr&lr=&id=JozgDwAAQBAJ&oi=fnd&pg=PT2&dq=jumeaux+numériques&ots=ZIaRvt0nqW&sig=NaM2O-0NCER7s2I1b7TI9jjr4Ug&redir_esc=y#v=onepage&q=jumeaux numériques&f=false</a>
				<br>
				[2] <a href="https://www.lemondeinformatique.fr/actualites/lire-le-jumeau-numerique-un-atout-pour-l-industrie-40-85262.html">https://www.lemondeinformatique.fr/actualites/lire-le-jumeau-numerique-un-atout-pour-l-industrie-40-85262.html</a>
				<br>
				[3] <a href="https://www.lemondeinformatique.fr/actualites/lire-edf-fait-appel-a-la-realite-virtuelle-pour-former-a-la-prevention-des-incendies-92217.html">https://www.lemondeinformatique.fr/actualites/lire-edf-fait-appel-a-la-realite-virtuelle-pour-former-a-la-prevention-des-incendies-92217.html</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}